{% load static social_tags cache %}

{% cache 5000 footer %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__text">
          <div class="footer__logo">
            <a href="#"><img src="{% static 'img/logo.svg' %}" alt=""></a>
          </div>
          <p>Test Carnival</p>
          <div class="footer__social">
              {% get_social_links as social_links %}
              {% for item in social_links %}
                <a href="{{ item.link }}"><img src="{{ item.icon.url }}"></a>
              {% endfor %}
          </div>
        </div>
        <div class="footer__copyright">
          <p>Курсовая работа 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
{% endcache %}
